<main role="main">

  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3">Welcome to Assignment Project</h1>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h2>Create Posts</h2>
        <p> Post information is created and is stored</p>
        <p>
          <%= button_to 'Create Post', new_post_path, class: "btn btm-sm-pri btn-primary mrg-lft-2", method: :get %>
        </p>
      </div>
      <div class="col-md-4">
        <h2>List Posts</h2>
        <p> Post information is shown</p>
        <p>
          <%= button_to 'List Posts', posts_path, class: "btn btm-sm-pri btn-primary mrg-lft-2", method: :get %>
        </p>
      </div>

    </div>

    <hr>

  </div>

</main>
